{% load humanize %}


<div class="text-center paging-control">

        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&limit={{ limit }}&q={{ q }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> prev</a>
        {% else %}
            <i class="fa fa-chevron-left" aria-hidden="true"></i> prev
        {% endif %}

            <span class="current">
              &bull; {{ page_obj.paginator.count|intcomma }} results &bull;
                page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &bull;
        </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&limit={{ limit }}&q={{ q }}">next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            {% else %}
                next <i class="fa fa-chevron-right" aria-hidden="true"></i>
            {% endif %}
        </span>
</div>
